@charset "utf-8";
/* Main portfolio styles */
@import url('https://fonts.googleapis.com/css?family=Roboto');
*{box-sizing: border-box;
}
body{
	font-family:'Roboto', sans-serif;
	margin: 0;
	text-align: center;
	
}

h1 {
	font-weight: 300;
	font-size: 2rem;
}

img {
	max-width: 100%;
	height: auto;
}

.container { 
width: 95%;
max-width: 70em;
margin: 0 auto;}

.title {
	font-size: 2.5rem;
	margin-bottom: 1.5em;
	margin-top: 1em;
	font-weight: 900;
}

.title span {
	font-weight: 300;
	display: block;
	font-size: 1.8rem;
}

@media (min-width:60rem){
	.title {
		font-size: 3.5rem
	}
}
/* buttons */
.button {
	font-size: 1.15rem;
	text-decoration: none;
	text-transform: uppercase;
	border-width: 2px;
	border-style: solid;
	padding: 0.5em 1.75em;
	display: inline-block;
	color: white;
    background-color: transparent;
    cursor: pointer;
    overflow: hidden;
    background-repeat: no-repeat;
    outline: none;}
.button:hover,
.button:focus{
	background: #AB9A9A;
	color: white;
	background-color: transparent 50px;
	
	
	
	
}

/* header */

header {
margin: 1em;
position: absolute;
left: 0;
right: 0;}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	
}

nav li {
	display: inline-block;
	margin: 1em;
}

nav a {
	font-weight: 900;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 0.8rem;
	padding: 0.5em;
	color: white;
}

nav a:hover,
nav a:focus {
	color: gray;
}

@media (min-width:60rem){
	.logo {
		float: left;
	}
	nav {float: right;}
}
/* home-front */

.home-front{
	background-image: url(../images/home-front-bg.jpg);
	background-size:cover;
	background-position: center;
	padding: 5em 0;
	color: white;
	
}

@media (min-width: 60rem){
	.home-front{
	height: 100vh;
	padding-top:35vh; }
	
}

.home-about-textbox{
 background-color: #232323;
 padding: 4em;
 width: 100vw;
 margin-left: -2.5%;
 outline: 2px solid white;
 outline-offset: -2.5em;
 color: white;
 position: relative;
}

.home-about-textbox h1 {
	position: absolute;
	top: 0.001em;
	background: #232323;
	padding: 0 0.1em;
	left: 50%;
	transform: translateX(-50%)
	
	
}
@media(min-width: 25rem){
	h1{
		font-size: 1.3rem;
	}
	.home-about-textbox h1 {
		top: 0.2em;
		padding: 0.35em;
		
	}
}

.home-about{
	background-image: url(../images/background-foto2.jpg);
padding-bottom: 20em;
	background-repeat: no-repeat;
	left: 50%;
  }

.home-about-textbox{
 
 width: 50%;
 margin-left: -2.5%;

}